body {
    background-color: white;
}

.mainBackground{
    background-color: black;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 50px;
    border-radius: 20%;
    
    
}
main p {
    text-align: center;
    color: white;
}
main h1 {
    text-align: center;
    color: white;
}
/* styling for quiz page */
.quizSection{
    display: none;
}

#timer{
    font-size: 20px;
}

.quizSection h1{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    padding: -10px;
}

.quizSection h3{
    background-color: white;
    padding: 5px;
    border-radius: 20%
    
}

.quizSection p{
    background-color: white;
    padding: 10px;
    border-radius: 10%;
    
}

.correctSection {
    display:none;
    text-align: center;
    color:white;
    font-size: 25px;
    background-color: darkgreen;
    margin-top: 2%;
    margin-left: 45%;
    margin-right: 45%;
    padding: 15px;
    border-radius: 100%;

}
.incorrectSection {
    display:none;
    text-align: center;
    color:white;
    font-size: 25px;
    background-color: darkred;
    margin-top: 2%;
    margin-left: 43%;
    margin-right: 43%;
    padding: 15px;
    border-radius: 100%;

}

.endSection {
    display:none;
    text-align: center;
    color: white;
}

.scoreSection {
    display: none;
    text-align: center;
    color: white;
}

#startButton {
    text-align: center;
}

#score-page-button {
    margin-top: 20px;
    text-align: center;
}

#home-page-button {
    margin-top: 20px;
    text-align: center;
}